@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: 'Anton', sans-serif;
    padding: 30px 0px 0px 10px;
    font-size: 50px;
    
}

h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    padding: 50px 50px 50px;
}

label{
    font-size: 20px;
    background-color: yellow;
    align-items: ce;
    color: rgba(0, 0, 0, 0.993)
}

input , button{
    font-size: 25px;
    border-color: rgb(0, 0, 0);
    text-align: center;
}

.container{
    padding: auto;
    display: grid;
    place-content: center;
}

p{
    margin: 10px;
    font-size: 30px;
}